<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
    <style>
        body {
            padding: 30px;
        }
        h2 {
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 300px;
        }
        label {
            font-weight: bold;
        }
        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        button {
            padding: 10px;
            background-color: #1565C0;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            margin:  20px;
        }
    </style>
</head>
<body>
<h2>Add Appointment</h2>
<form action="/appointments/add" method="post">
    <label>AppointmentID: </label>
    <input type="number" name="appointmentID">
    <br>

    <label>EID: </label>
    <input type="number" name="emiratesID">
    <br>

    <label>Reason: </label>
    <input type="text" name="reason">
    <br>

    <label>Date: </label>
    <input type="date" name="date">
    <br>

    <label>Time: </label>
    <input type="time" name="time">
    <br>

    <label>DoctorID: </label>
    <input type="number" name="doctorID">
    <br>

    <label>HospitalID: </label>
    <input type="number" name="hospitalID">
    <br>

    <button type="submit">Add Appointment</button>
</form>

<a href="/">Back To Landing Page</a>

</body>
</html>