<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Insurance</title>
</head>
<body>
<div>
    <h1>Add Insurance</h1>

    <form action="/insurance/add" method="post">
        <label>Insurance ID:</label><br>
        <input type="number" name="insuranceID"><br><br>

        <label>Insurance Name:</label><br>
        <input type="text" name="insuranceName"><br><br>

        <button type="submit">Add</button>
    </form>

    <br>
    <a href="/">Back To Landing Page</a>
</div>
</body>
</html>