<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
</head>
<body>
<h2>Add New Patient</h2>
<form action="/patients/add" method="post">
    <label>EID: </label>
    <input type="number" name="emiratesID">
    <br>

    <label>First Name: </label>
    <input type="text" name="firstName">
    <br>

    <label>Last Name: </label>
    <input type="text" name="lastName">
    <br>

    <label>Ethnicity: </label>
    <input type="text" name="ethnicity">
    <br>

    <button type="submit">Add Patient</button>
</form>

<a href="/">Back To Landing Page</a>

</body>
</html>