<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
    <style>
    body {
        padding: 30px;
    }
    h2 {
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 300px;
    }
    label {
        font-weight: bold;
    }
    input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
    button {
        padding: 10px;
        background-color: #1565C0;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        margin:  20px;
    }
    </style>
</head>
<body>
<h2>Add New Patient</h2>
<form action="/patients/add" method="post">
    <label>EID: </label>
    <input type="number" name="emiratesID">
    <br>

    <label>First Name: </label>
    <input type="text" name="firstName">
    <br>

    <label>Last Name: </label>
    <input type="text" name="lastName">
    <br>

    <label>Ethnicity: </label>
    <input type="text" name="ethnicity">
    <br>

    <button type="submit">Add Patient</button>
</form>

<a href="/">Back To Landing Page</a>

</body>
</html>