<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOCTORADD</title>
</head>
<body>
<h1>Add New Doctor</h1>

<form action="/doctor/add" method="post">
    Doctor ID: <input type="number" name="doctorID"><br>
    First N: <input type="text" name="firstName"><br>
    Last N: <input type="text" name="lastName"><br>
    Speciality: <input type="text" name="speciality"><br>
    Hosp ID: <input type="number" name="hospitalID"><br>
    <button type="submit"> Add </button>
</form>
<br>
<a href="/">Landing Page</a>
</body>
</html>