<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance</title>
</head>
<body>
<div>
    <h1>Insurance List</h1>

    <table style="border-collapse:collapse; width:50%; border:1px solid black; text-align:left;">
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;" >Insurance ID</th>
            <th style="border:1px solid black;" >Insurance Name</th>
        </tr>

        {{#insurances}}
        <tr style="border:1px solid black;">
            <td style="border:1px solid black;" >{{insuranceID}}</td>
            <td style="border:1px solid black;" >{{insuranceName}}</td>
        </tr>
        {{/insurances}}
    </table>

    <br>
    <a href="/">Back To Landing Page</a>
</div>
</body>
</html>