<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOCTORVIEW</title>
</head>
<body>
<h1>View Doctors</h1>
<table style="border: dotted hotpink">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Speciality</th>
        <th>Hospital ID</th>
    </tr>
    {{#doctors}}
        <tr>
            <td>{{doctorID}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{speciality}}</td>
            <td>{{hospitalID}}</td>
        </tr>
    {{/doctors}}
</table>
<br>
<a href="/">Landing Page</a>
</body>
</html>