<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospitals & Medical Records</title>
</head>
<body>

<h1>Hospitals & Medical Records List</h1>

<!--Hospital List Table -->
    <table>
        <tr>
            <th>Hospital ID</th>
            <th>Name</th>
            <th>Owner</th>
        </tr>
{{#hospitalsList}}
        <tr>
            <td>{{hospitalID}}</td>
            <td>{{name}}</td>
            <td>{{owner}}</td>
        </tr>
{{/hospitalsList}}
    </table>


<!--Medical Records List Table -->
{{#hospitalsList}}
    <h3>{{name}} - Medical Records:</h3>
        <table>
            <tr>
                <th>Record ID</th>
                <th>Visit Date</th>
                <th>Visit Time</th>
                <th>Conditions</th>
                <th>Treatment Given</th>
                <th>Effective</th>
                <th>Emirates ID</th>
            </tr>
    {{#medicalRecords}}
            <tr>
                <td>{{recordID}}</td>
                <td>{{visitDate}}</td>
                <td>{{visitTime}}</td>
                <td>{{conditions}}</td>
                <td>{{treatmentGiven}}</td>
                <td>{{effective}}</td>
                <td>{{emiratesID}}</td>
            </tr>
    {{/medicalRecords}}
        </table>
{{/hospitalsList}}

<a href="/">Back To LandingPage</a>

</body>
</html>